@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <label asp-for="FizzBuzz.Number"></label>
        <br/>
        <input asp-for="FizzBuzz.Number" /><br />
        <button type="submit" class="btn btn-primary">Zatwierdź</button>
        <div id="alert" class="alert alert-danger" role="alert">
            <span asp-validation-for="FizzBuzz.Number" class="alert alert-danger text-danger"></span>
        </div>
        <div id="success-message" class="alert alert-success" role="alert">
            <span>@Model.Success</span>
        </div>
    </form>
</div>
<script>
    let alert = document.getElementById("alert");
    let successMessage = document.getElementById("success-message");
    if(alert.innerText == "")
        alert.style.display = "none";
    if(successMessage.innerText == "")
        successMessage.style.display = "none";
</script>
