
@page
@model lastSearchedModel

@if (Model.LeapYearPeople != null){
    @foreach (var item in Model.LeapYearPeople.LeapYears)
    {
        <p>@Html.DisplayFor(modelItem => item.Outcome)</p>
    }
}
